/* Defaults
 * ========================================================================== */

.reveal .slides {
  text-align: left;
}
.has-dark-background a {
  color: #aecaf1;
}
.has-dark-background a:hover {
  color: #aecaf1;
  text-decoration: underline;
}
.reveal section img {
  border: 1px solid #333;
}
.reveal section table {
  margin: 0 !important;
}
abbr {
  cursor : help;
  text-decoration : none;
}

/* Fonts
 * ========================================================================== */
 
@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome.woff') format('woff'),
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/* Envelope
 * ========================================================================== */

.envelope {
  text-align: center;
}
.envelope small {
  background: #024068;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .2em .4em .1em;
  }
.envelope p.subtitle {
  font-size: 1em; 
  margin: 0 0 90px 0;
  color: #222;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  text-transform: none;
  word-wrap: break-word;
  }
.envelope p {
  font-size: .5em;
}
section.has-dark-background .subtitle {
  color: #fff;
  }


/* Topic
 * ========================================================================== */

.topic {
  text-align: center;
}
.topic p {
  font-size: .9em;
  text-transform: none;
}
.topic p {
  color: #577F00;
}



/* PRE & CODE
 * ========================================================================== */

.reveal code, 
.reveal pre, 
.reveal .mono {
  font-family: mono;
  font-size: .8em;
}
.reveal pre {
  box-shadow: none;
  border: #CCC 1px dotted;
  line-height: 1.35;
  margin: 0 auto;
  width: 100%;
}
.reveal p code,
.reveal li code {
  font-size: 85%;
}

/* REFERENCES
 * ========================================================================== */

.references section li {
  font-size: .8em !important;
}

/* BLOCKQUOTE
 * ========================================================================== */
 .reveal blockquote {
  box-shadow: none;
  width: 100%;
 }
 .reveal cite {
  font-size: .8em;
 }
