.reveal p.subtitle {
  font-size: 1.3em; 
  margin: 0 0 90px 0;
  color: #222;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  }
section.has-dark-background .subtitle {
  color: #fff;
  }

.has-dark-background a {
  color: #98bdef;
}
