.reveal .slides {
  text-align: left;
}
/* START - First Page */
.envelope {
  text-align: center;
}
.envelope small {
  background: #024068;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .2em .4em;
  }

/* TOPIC */
.topic {
  text-align: center;
}
.topic p {
  color: #577F00;
}

.reveal p.subtitle {
  font-size: 1em; 
  margin: 0 0 90px 0;
  color: #222;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  }
section.has-dark-background .subtitle {
  color: #fff;
  }

.has-dark-background a {
  color: #98bdef;
}
.reveal section img {
  border: 1px solid #333;
}

.reveal section table {
  margin: 0 !important;
}
